.notification {
  position: absolute;
  top: 75%;
  transform: translate(35%, -35%) scale(0);
  right: 1rem;
  z-index: 1000;
  background-color: rgba(17, 17, 17, 0.9);
  clip-path: polygon(
    80% 0,
    85% 11%,
    100% 11%,
    100% 100%,
    83% 100%,
    50% 100%,
    23% 100%,
    0 100%,
    0 11%,
    76% 11%
  );
  height: max-content;
  width: max-content;
  transition: all 0.2s;

  &Appear {
    transform: translate(0) scale(1);
  }

  &__list {
    list-style: none;
    margin-top: 0.8rem;
  }

  &__link {
    color: var(--color-white);
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 0.9rem;
    }
  }

  &__item {
    padding: 0.2rem 0.4rem;
  }

  &__itemOuter {
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-dark);
    }
    &:not(:first-child):hover {
      background-color: rgba(116, 116, 116, 0.5);
    }
  }

  &__profileContainer {
    display: flex;
    align-items: center;
  }

  &__profilePic {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
  }

  &__profileName {
    font-weight: 200;
    font-size: 1rem;
  }
}

/* .notification__item:not(:last-child) {
  border-bottom: 1px solid #333333;
} */
