.mg-btm-small {
  margin-bottom: 1rem;
}

.text-bold {
  font-weight: 700;
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 700;
  //   line-height: 3;
}

.heading-primary {
  font-size: 2rem;
  font-weight: 700;
}
